body {
  background-color: #95b46a;
  font-family: 'Oswald', sans-serif;
}

header {
  font-family: 'Roboto', sans-serif;
}

.image__con {
  max-width: 500px;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 3em;
}

img {
  width: 100%;
}

h3 {
  color: beige;
}
